@use "sass:map";

$theme-default: #129ea3;
$theme-colors: (
    50: #f0fdfc,
    100: #cdfaf6,
    200: #9bf4ee,
    300: #61e7e3,
    400: #31d0d0,
    500: #18b2b4,
    600: $theme-default,
    700: #117074,
    800: #13575c,
    900: #144a4d,
    950: #052a2e,
    default: $theme-default,
    foreground: black,
);

$danger-default: #e6443a;

$destructive: (
    50: #fef3f2,
    100: #fde5e3,
    200: #fccfcc,
    300: #f9ada8,
    400: #f37d76,
    500: $danger-default,
    600: #d5372d,
    700: #b32a22,
    800: #942720,
    900: #7b2621,
    950: #430f0c,
    default: $danger-default,
    foreground: #fcfcfc,
);


$colors: (
    #theme: $theme-colors,
    background: (
        default: oklch(0.98 0.015 190),
        --dark-default: oklch(0.15 0.02 210),
        #main: map.get($theme-colors, 50)
    ),
    foreground: oklch(0.19 0.03 210),
    destructive: $destructive,
    #primary: map.get($theme-colors, 500),
    chart: (
        1: oklch(0.64 0.12 190),
        2: oklch(0.70 0.10 165),
        3: oklch(0.58 0.09 210),
        4: oklch(0.80 0.14 85),
        nest: (
            first: red,
            #deep: (
                second: blue,
                third: green,
                --dark-third: yellow
            ),
        ),
        5: oklch(0.74 0.13 35),
        --dark-5: black
    ),
    #sidebar: (
        base: oklch(0.22 0.04 210),
        foreground: oklch(0.96 0 0),
        primary: oklch(0.64 0.12 190),
        primary-foreground: oklch(0.99 0 0),
        accent: oklch(0.28 0.04 200),
        accent-foreground: oklch(0.96 0 0),
        border: oklch(0.28 0.02 210),
        ring: oklch(0.70 0.08 190),
    ),
    #strokes: (
        border: var(--border),
        input: var(--input),
        ring: var(--ring),
    ),
    #border: oklch(0.90 0.01 210),
    #input: oklch(0.92 0.01 210),
    #ring: oklch(0.78 0.05 190),
    #surfaces: (
        card: var(--card),
        card-foreground: var(--card-foreground),
        popover: var(--popover),
        popover-foreground: var(--popover-foreground),
    ),
    #card: (
        default: oklch(0.93 0.01 202.05),
        foreground: var(--foreground),
    ),
    #popover: (
        default: oklch(0.93 0.01 202.05), // same as card
        foreground: var(--foreground),
    ),
    #tones: (
        secondary: var(--secondary),
        secondary-foreground: var(--secondary-foreground),
        muted: var(--muted),
        muted-foreground: var(--muted-foreground),
        accent: var(--accent),
        accent-foreground: var(--accent-foreground),
    ),
    #secondary: (
        default: oklch(0.93 0.02 190),
        foreground: oklch(0.28 0.03 210),
    ),
    #muted: (
        default: oklch(0.92 0.015 210),
        foreground: oklch(0.55 0.02 220),
    ),
    #accent: (
        default: oklch(0.95 0.03 180),
        foreground: oklch(0.28 0.03 210),
        --dark-foreground: oklch(0.90 0.02 200)
    )
);
