:root {
	--primary: oklch(0.6999 0.1368 261.7225);
	--primary-red: oklch(0.5181 0.1946 27.457 / 0.189);
}
.dark {
	--primary-red: oklch(0.5181 0.1946 27.457 / 0.189);
}
@theme {
	--color-primary: var(--primary);
	--color-primary-100: oklch(0.7409 0.0976 283.763);
	--color-primary-40: oklch(0.5623 0.1255 21.9132);
	--color-primary-30: oklch(0.0482 0.0283 264.052);
	--color-primary-red: var(--primary-red);
	--font-sans: "Inter, sans-serif";
	--font-secondary: Roboto, sans-serif;
	--radius: 0.25rem;
	--radius-sm: 0.125rem;
	--radius-lg: 0.5rem;
	--radius-full: 9999px;
}
