:root {
	--background: oklch(0.98 0.015 190);
	--theme-50: oklch(0.9841 0.0137 191.4022);
	--theme-100: oklch(0.9526 0.0463 189.7598);
	--theme-200: oklch(0.9094 0.0861 190.3057);
	--theme-300: oklch(0.8534 0.1167 192.4629);
	--theme-400: oklch(0.7809 0.1241 194.9115);
	--theme-500: oklch(0.6937 0.1147 196.2991);
	--theme-600: oklch(0.6363 0.1055 198.9109);
	--theme-700: oklch(0.4972 0.0804 199.4352);
	--theme-800: oklch(0.4189 0.0646 202.3977);
	--theme-900: oklch(0.3761 0.055 200.4267);
	--theme-950: oklch(0.2619 0.0407 205.5939);
	--theme: oklch(0.6363 0.1055 198.9109);
	--theme-foreground: oklch(0 0 none);
	--background-main: oklch(0.9841 0.0137 191.4022);
	--primary: oklch(0.6937 0.1147 196.2991);
	--chart-nest-deep-second: oklch(0.452 0.2656 264.052);
	--chart-nest-deep-third: oklch(0.5198 0.1768 142.4953);
	--chart-5: oklch(0.74 0.13 35);
	--sidebar-base: oklch(0.22 0.038 210);
	--sidebar-foreground: oklch(0.96 0 0);
	--sidebar-primary: oklch(0.64 0.1105 190);
	--sidebar-primary-foreground: oklch(0.99 0 0);
	--sidebar-accent: oklch(0.28 0.04 200);
	--sidebar-accent-foreground: oklch(0.96 0 0);
	--sidebar-border: oklch(0.28 0.02 210);
	--sidebar-ring: oklch(0.7 0.08 190);
	--strokes-border: var(--border);
	--strokes-input: var(--input);
	--strokes-ring: var(--ring);
	--border: oklch(0.9 0.01 210);
	--input: oklch(0.92 0.01 210);
	--ring: oklch(0.78 0.05 190);
	--surfaces-card: var(--card);
	--surfaces-card-foreground: var(--card-foreground);
	--surfaces-popover: var(--popover);
	--surfaces-popover-foreground: var(--popover-foreground);
	--card: oklch(0.93 0.01 202.05);
	--card-foreground: var(--foreground);
	--popover: oklch(0.93 0.01 202.05);
	--popover-foreground: var(--foreground);
	--tones-secondary: var(--secondary);
	--tones-secondary-foreground: var(--secondary-foreground);
	--tones-muted: var(--muted);
	--tones-muted-foreground: var(--muted-foreground);
	--tones-accent: var(--accent);
	--tones-accent-foreground: var(--accent-foreground);
	--secondary: oklch(0.93 0.02 190);
	--secondary-foreground: oklch(0.28 0.03 210);
	--muted: oklch(0.92 0.015 210);
	--muted-foreground: oklch(0.55 0.02 220);
	--accent: oklch(0.95 0.03 180);
	--accent-foreground: oklch(0.28 0.03 210);
}
.dark {
	--background: oklch(0.15 0.02 210);
	--chart-nest-deep-third: oklch(0.968 0.211 109.7692);
	--chart-5: oklch(0 0 none);
	--accent-foreground: oklch(0.9 0.02 200);
}
@theme {
	--color-background: var(--background);
	--font-sans: "Inter, sans-serif";
	--font-secondary: Roboto, sans-serif;
	--radius: 0.25rem;
	--radius-sm: 0.125rem;
	--radius-lg: 0.5rem;
	--radius-full: 9999px;
	--color-theme-50: var(--theme-50);
	--color-theme-100: var(--theme-100);
	--color-theme-200: var(--theme-200);
	--color-theme-300: var(--theme-300);
	--color-theme-400: var(--theme-400);
	--color-theme-500: var(--theme-500);
	--color-theme-600: var(--theme-600);
	--color-theme-700: var(--theme-700);
	--color-theme-800: var(--theme-800);
	--color-theme-900: var(--theme-900);
	--color-theme-950: var(--theme-950);
	--color-theme: var(--theme);
	--color-theme-foreground: var(--theme-foreground);
	--color-background-main: var(--background-main);
	--color-foreground: oklch(0.19 0.03 210);
	--color-destructive-50: oklch(0.9725 0.0119 23.703);
	--color-destructive-100: oklch(0.9408 0.0265 23.3608);
	--color-destructive-200: oklch(0.8924 0.0512 22.6257);
	--color-destructive-300: oklch(0.8189 0.0902 23.4107);
	--color-destructive-400: oklch(0.7219 0.146 24.8473);
	--color-destructive-500: oklch(0.6206 0.2004 28.0131);
	--color-destructive-600: oklch(0.578 0.1963 28.5224);
	--color-destructive-700: oklch(0.505 0.1748 28.508);
	--color-destructive-800: oklch(0.4455 0.146 28.2479);
	--color-destructive-900: oklch(0.3991 0.1191 27.2186);
	--color-destructive-950: oklch(0.2595 0.0806 27.4974);
	--color-destructive: oklch(0.6206 0.2004 28.0131);
	--color-destructive-foreground: oklch(0.9911 0 none);
	--color-primary: var(--primary);
	--color-chart-1: oklch(0.64 0.1105 190);
	--color-chart-2: oklch(0.7 0.1 165);
	--color-chart-3: oklch(0.58 0.09 210);
	--color-chart-4: oklch(0.8 0.14 85);
	--color-chart-nest-first: oklch(0.628 0.2577 29.2339);
	--color-chart-5: var(--chart-5);
	--color-sidebar-base: var(--sidebar-base);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-strokes-border: var(--strokes-border);
	--color-strokes-input: var(--strokes-input);
	--color-strokes-ring: var(--strokes-ring);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-surfaces-card: var(--surfaces-card);
	--color-surfaces-card-foreground: var(--surfaces-card-foreground);
	--color-surfaces-popover: var(--surfaces-popover);
	--color-surfaces-popover-foreground: var(--surfaces-popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-tones-secondary: var(--tones-secondary);
	--color-tones-secondary-foreground: var(--tones-secondary-foreground);
	--color-tones-muted: var(--tones-muted);
	--color-tones-muted-foreground: var(--tones-muted-foreground);
	--color-tones-accent: var(--tones-accent);
	--color-tones-accent-foreground: var(--tones-accent-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
}
