$colors: (
   text: (
      light: #b9bcc5,
      active: #4c5064,
      default: #525766,
      dark: #31373a,
   ),

   primary: (
      default: #752bdf,
      light: #c5b3ff,
      dark: #4e1a98,
      50: #f5f3ff,
      100: #ede8ff,
      200: #ddd5ff,
      300: #c5b3ff,
      400: #a888fd,
      500: #8c58fa,
      600: #7f35f2,
      700: #752bdf,
      800: #5d1dba,
      900: #4e1a98,
      950: #2f0e67,
   ),

   secondary: (
      default: #3d474d,
      light: #a4b6bc,
      dark: #22282c,
      50: #f4f7f7,
      100: #e3e9ea,
      200: #c9d4d8,
      300: #a4b6bc,
      400: #779099,
      500: #5c757e,
      600: #4f626b,
      700: #44525a,
      800: #3d474d,
      900: #363d43,
      950: #22282c,
   ),

   success: (
      default: #00d79b,
      light: #63f2c0,
      dark: #00674f,
      50: #eafff6,
      100: #cdfee8,
      200: #a0fad6,
      300: #63f2c0,
      400: #25e2a7,
      500: #00d79b,
      600: #00a477,
      700: #008363,
      800: #00674f,
      900: #005542,
      950: #003027,
   ),

   warning: (
      default: #ff8445,
      light: #ffaa71,
      dark: #7e2010,
      50: #fff5ed,
      100: #ffe8d4,
      200: #ffcda8,
      300: #ffaa71,
      400: #ff8445,
      500: #fe5811,
      600: #ef3d07,
      700: #c62a08,
      800: #9d230f,
      900: #7e2010,
      950: #440c06,
   ),

   danger: (
      default: #f60851,
      light: #ff6389,
      dark: #94073f,
      50: #fff0f2,
      100: #ffe1e7,
      200: #ffc8d4,
      300: #ff9bb1,
      400: #ff6389,
      500: #ff2c65,
      600: #f60851,
      700: #e7004d,
      800: #ae0341,
      900: #94073f,
      950: #53001d,
   ),

   light: (
      default: #f5f6fa,
      light: #ffffff,
      50: #f5f6fa,
      100: #e7e9f2,
      dark: #d4d8e9,
   ),

   grey: (
      brown: #e5e5e5,
      default: #d8d9de,
      light: #f6f6f7,
      dark: #313135,
      50: #f6f6f7,
      100: #eeeff1,
      200: #d8d9de,
      300: #cdced4,
      400: #b7b8c2,
      500: #a4a4b0,
      600: #8f8f9c,
      700: #7c7b87,
      800: #65656e,
      900: #54545b,
      950: #313135,
   ),

   info: (
      default: #38bdf8,
      light: #a5f3fc,
      dark: #155e75,
      50: #ecfeff,
      100: #cffafe,
      200: #a5f3fc,
      300: #67e8f9,
      400: #22d3ee,
      500: #06b6d4,
      600: #0891b2,
      700: #0e7490,
      800: #155e75,
      900: #164e63,
      950: #083344,
   ),

   blue: (
      default: #39b3ff,
      light: #b8e2ff,
      dark: #005ea7,
      50: #eff8ff,
      100: #dff0ff,
      200: #b8e2ff,
      300: #78cbff,
      400: #39b3ff,
      500: #0696f1,
      600: #0076ce,
      700: #005ea7,
      800: #02508a,
      900: #084372,
      950: #062a4b,
   ),
);
